* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.carousel {
    position: absolute;
    max-width: 800px;
    /* margin: auto; */
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
img{
    width: 200px;
}

.carousel-images {
    width: 70%;
    display: none;
  
}

.carousel-images.active {
    display: block;
      animation: slide 4s ease-in-out infinite alternate;
}


button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev { left: 10px; }
.next { right: 10px; }

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
