body{
    margin-left: 20px;
    margin-right: 20px;
}
#imag{
    width: 75px;
    height: 50px;
}
.nav{
    display: flex;
    justify-content: space-between;
    /* overflow: hidden; */
}
.bi-bag-fill{
    color: red; position: relative; top: 10px;
    font-size: 20px;
}
.bi-search{
    position: relative; top: 10px;
}
.bi-search:hover{
    font-size: 20px;
}
.btn4{
 list-style: none; 
 display: inline-flex; 
 gap: 10px;
}
.btn3{
    list-style: none; 
    display: inline-flex; 
    gap: 30px;
}
.btn1{
   padding: 10px; border: none; background-color: transparent;
}
#contactBtn{
    padding: 10px 20px; border-radius: 20px; background-color: #53EC62; color: white; border: none;
}
.dropdown-toggle::after{
    color: green
}
.gridCont1{
 display: grid; grid-template-columns: auto auto; grid-gap: 20px;
  margin-top: 20px; 
  justify-content: space-evenly;
  height: 650px;
  align-items: center;

}
#orderBtn{
    padding: 10px 20px; border-radius: 20px; background-color: #53EC62; color: white; border: none;
}
#watchVideo{
    padding: 10px; border: none; background-color: transparent; font-weight: bold;
}
.bi-play-fill{
    background-color: white;
    border-radius: 50%; 
    font-size: 20px;
    box-shadow: 2px 2px 2px wheat;
}

.gridDiv2{
position: relative;
}

#circleBKGRD{
 background-color: #53EC62; height: 400px; width: 400px; border-radius: 50%; 
 position: relative;
}
#imgGirl{
    width: 350px;
    position: absolute;
    top: -60px;
    left: 20px;
}
#zIndx{
    width: 150px;
    height: 30px;
    background-color: antiquewhite;
    border: 1px solid wheat; border-radius: 10px 20px 10px 20px;
    position: absolute; left: -20px; top: 20px;
    z-index: 1;
    box-shadow: 3px 3px 3px pink;
}
#zIndx>p{
    color: red; text-align: center;
}
#containerStars{
    display:inline-flex;
     position: absolute; bottom: 5px; right: 10px;
      z-index: 1; 
     gap:35px;
}
.stars{
    height: 100px; width: 250px; background-color: #FFFFFF;
     display: flex; 
     border-radius: 10px 20px;
     box-shadow: 3px 3px 3px pink;
}
#noodles{
    border-radius: 50%;
}
#salad{
    border-radius: 50%;
}
.checked{
    color: orange;
}
.popCatag{
    margin-top: 35px;
}
.popCatag p,
.popCatag h1{
    text-align: center;
}
.cardsGrid{
    display: grid; 
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}
.card-img-top{
    width: 50%;
    height: 50%;
    background-color: yellowgreen; 
    border-radius: 50%;
    margin: auto;
    margin-top: 30px;
}
.card{
    border-radius: 30px;
    text-align: center;
    background-color:#FFFFFF;
    width: 250px; height: 250px;
    box-shadow: 3px 3px 3px pink;
}
.standOutDishes{
    position: relative;
    display: flex;
}
.standOutDishes>div{
    margin-left: 140px;
}
.arrowIcons{
    position: absolute; right: 100px; bottom: 0px;
}
.arrowIcons>button{
    border-radius: 50%; border: transparent;
}
.arrowIcons>button:hover{
    background-color: greenyellow; color: white;
}
#bi-chevron-left{
    margin-right: 30px;
}
.stndDishGrid{
    display: grid;
     grid-template-columns: auto auto auto;
     justify-content: space-evenly;
}
/* .priceAndStars{
    display: inline-flex;
} */
.dollarSign{
    position: absolute; left: 15px; bottom: 0px;
    font-weight: bold ;
}
.pstin{
    position: absolute; right: 50px; bottom: 19px;
}
.rate{
    position: absolute; right: 15px; bottom: 0px;
}
.greenTag{
    width: 75px; height: 50px; 
    border-radius: 0px 30px 0px 50px;
    background-color:#53EC62;
    position: absolute; top: 0px; right: 0px;
    z-index: 5;
}
.bi-heart{
    position: relative !important;
    top: 10px;
}
.bi-heart-fill{
    display: none;
}
.bi-heart:hover + .bi-heart-fill{ 
    display: block;
    position: relative !important;
    bottom: 14px;
    z-index: 1;
    color: white;
}
.divChef{
    display: grid;
    grid-template-columns: auto auto;
    height: 650px;
    justify-content: space-evenly;
    gap: 100px;
    margin-top: 200px;
}
#rectangl{
    background-color: #53EC62;
    width: 315px;
    height: 265px;
    border-radius: 140px 140px 40px 40px;
    margin-top: 200px;
    position: relative;
}
#chefGirl{
 width: 300px;
 height: 490px;
 margin-top: -225px;
}
#custmrTxt{
    margin-top: 50px;
}
.comment{
    margin-bottom: 0px;
}
#photosAndRatings{
    position: relative;
    /* background-color: red; */
    width: 100%; height: 25%;
}
#girl1{
    position: absolute; top: 40px;left: 0px;
}
#boy2{
    position: absolute; top: 40px;left: 50px;
}
#girl3{
    position: absolute; top: 40px;left: 100px;
}
#customers{
    position: absolute; right:0px;top: 55px; font-weight: bold;
}
.starPstion{
    position: absolute; right:140px;top: 90px;
}
#numRate{
    position: absolute; right:115px;top: 85px;
}
#Reviews{
    position: absolute; right:0px;top: 85px; color: gray;
}
#ourChef{
    width: 150px;
    height: 30px;
    background-color: antiquewhite;
    border: 1px solid wheat; border-radius: 10px 20px 10px 20px;
    position: absolute; right: -15px; bottom: 0px;
    z-index: 1;
    box-shadow: 3px 3px 3px pink;
}
#ourChef>p{
    color: red; text-align: center;
}
#rectangl>p{
    position: absolute; top: 0px; right: 0px; font-size: 40px;
}
#rectangl>span{
    position: absolute; top: 0px; left: 0px; font-size: 40px;
}
#gridWith4Cards{
    display: grid;
    grid-template-columns: auto auto;
    height: 650px;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    margin-left: 50px; margin-right: 50px;
}
#fourCards{
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}
.cardHover{
    transition: border 0.1s;
}
.cardHover:hover{
    border: solid #39DB4A;
}
#Explore{
    padding: 10px 20px; border-radius: 20px; 
    background-color:#39DB4A; color: white; 
    border: none;
}
#theLastGrid{
    display: grid; 
    grid-template-columns: auto auto auto auto;
    margin-left: 40px;
}
#theLastGrid>div>p{
    color: #555555; 
}
#frstColm>p{
    margin-bottom: 0px;
}
#footer{
    position: relative;
    width: 100%;
    height: 150px;
}
#footerIcons{
    list-style: none;
    display: flex;
    gap: 20px;
    position: absolute; bottom: 10px; left: 20px;
}
#footerIcons>li{
    display: inline;
}
#Copyright{
    position:absolute; bottom: 20px; left: 400px;
}
.bi-facebook{
    border-radius: 50%;
    font-size: 30px;
    box-shadow: 2px 2px 2px wheat;
    color: #53EC62;
}
.bi-instagram{
    border-radius: 50%;
    font-size: 30px;
    box-shadow: 2px 2px 2px wheat;
    background-color: #EDFFEF;
}
.bi-twitter{
    border-radius: 50%;
    font-size: 30px;
    box-shadow: 2px 2px 2px wheat;
    background-color: #EDFFEF;
    color: #53EC62
}
.bi-youtube{
    border-radius: 50%;
    font-size: 30px;
    box-shadow: 2px 2px 2px wheat;
    background-color: #EDFFEF;
    color: #53EC62
}
