.navigation{
    grid-area: nav;
    height: 50px;
    background-color: aqua;
}
.navigation>img{
    width: 50px;
    float: left;
}
.leftMenu{
    grid-area: leftMenu;
    background-color: blue;
    text-align: center;
}
.leftMenu>ul>li{
    margin-top: 20px;
}
.main{
    grid-area: main;
    height: 400px;
    background-color: crimson;
}
.rightMenu{
    grid-area: rightMenu;
    background-color: blueviolet;
}
.rightMenu>ul>li>a{
    text-decoration: none;
}
.rightMenu>ul>li{
    text-align: center;
    margin-top: 50px;
}
.footer{
    grid-area: footer;
    height: 50px;
    background-color: green;
    
}
.footer>ul>li{
    display: inline;
    margin-left:100px;
   
}
.footer>ul>li>button{
 transition: box-shadow 1s border 1s;
}
.footer>ul>li>button:hover{
    box-shadow: 5px 5px 5px pink;
    border: 5px black solid;
}
.container{
    display: grid;
    grid-template-areas: 'nav nav nav nav nav'
    'leftMenu main main main rightMenu'
    'leftMenu main main main rightMenu'
    'leftMenu  footer footer footer footer';
}
ul{
    list-style: none;
}
