h1{
    color: brown;
}
th{
    color: blue;
}
p{
    color: red;
}
h2{
    text-align: center;
}
#xxx{
    text-align: center;
}
 #imgx{
    clip-path: circle(100%); display: block; margin: auto;
    /*transition: transform o.2s;*/
    /*transition: opacity 2s;*/
    /*transition: width 0.2s;*/
    transition: box-shadow 3s, border 1.5s;
    } 
#imgx:hover{
    /*transform: scale(1.3);*/ border: 3px solid black;
    /*opacity:0.5;*/
    /*width: 350px;*/
    box-shadow: 9px 9px 9px;
}

.button{
    background-color:rgb(196, 196, 33);
    padding: 30px; border: solid transparent;
    color: white;font-size: 30px; 
    /*transition: background-color 1s;*/
    transition: box-shadow 2s, border 2s;
}
.button:hover{
    /*background-color:burlywood;*/ 
    border:3px solid red;
    box-shadow: 9px 9px 9px violet;
}
#xy{
    color: rgb(255, 162, 0); margin-bottom: 0px;
}
.abd{
    color: blueviolet; letter-spacing: 10px;
}
a{text-decoration: none;
}
h5{
    text-indent: 100px;
    padding: 20px;
    background-color: red;
    /*transition: background-color 0.5s;*/
    transition: box-shadow 3s;
}
h5:hover{
    /*background-color:beige;*/
    border: 3px solid black;
    box-shadow: 9px 9px 9px violet;
}
#z{
    color: white;
} 
.sec1{
    background-color: aqua;
}
.sec2{
    /*background-color:violet;*/
} 
#menu{
    list-style: none;
}
#menu>li{
    display: inline; margin-left: 40px;
    border: 2px solid;padding: 10px;border-radius: 15px;
    background-color: green;
}
#menu>li:hover{
    color: red;
}
#header{
    display: flex;background-color: grey;
}
nav{
    margin-top: 50px;
}