* {
  box-sizing: border-box;
}

body {
  background-color: #faf4f4;
}
.containerDivision {
  width: 90%;
  height: 90%;
  background-color: #dad5cb;
  margin: auto;
  border-radius: 20px 20px 20px 20px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #d3cec2;
  border-radius: 20px 20px 0px 0px;
}
.nav .image {
  width: 200px;
  margin: 10px 0px 0px 20px;
}
.nav .fiveBtn {
  list-style: none;
}
.nav .fiveBtn li {
  display: inline;
  margin: 0px 20px 0px 0px;
}
.nav .fiveBtn li .btn1 {
  padding: 10px;
  border: transparent;
  background-color: transparent;
  font-size: 17px;
  cursor: pointer;
  font-style: italic;
}
/* this is the beggining of the Big plate Image */
.plate-image-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  height: 700px;
  /* background-color: skyblue; */
}
.plate-image-grid .relative-plateImag {
  position: relative;
  /* background-color: green; */
  width: 100%;
  height: 100%;
}

.plateImg {
  /* the height and width are 80% of origina size picture from Figma */
  width: 770px;
  height: 555px;
  /* margin-left: -180px ; */
  position: absolute;
  top: 100px;
  right: 0px;
}
.plate-image-grid .text {
  margin-left: 30px;
  /* margin: 200px 0px 0px 30px; */
}
.plate-image-grid .text h1 {
  margin: 0px 0px 0px 0px;
}
/* there's a lot of ways to center the (Menu) image inside this div, but i just wanted to do the flex properety  */
.menuImg {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.Menu {
    width: 90%;
    height: 700px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  align-items: center;
  text-align: center;
}
.Menu img {
  margin: auto;
  
}
.xyz {
  width:300px; height:250px; 
  
}
.Menu .menu-discription {
  display: flex;
  width: 350px; height: 65px;
  background-color:#d3cec2 ;
  font-size: 20px;
  border-radius: 20px;
}
.Menu .menu-price {
  font-size: 20px;
  background-color: #d3cec2;
  height: 40px;
  border-radius: 20px;
  width: 120px;
  margin: 0px auto;
}

.Menu .menu-price p {
  margin: 10px 0px;
}
.controllers{
  display: flex;
  width: 500px;
  height: 100px;
  margin: auto;
  background-color: aqua;
  justify-content: space-evenly;
  align-items: center;
}
.controllers .bi-chevron-left {
  font-size: 20px;
}
.controllers .bi-chevron-right {
  font-size: 20px;
}
.numsList{
  /* background-color: red; */
  list-style: none; 
  width: 60%; height: 30px; 
  padding: 0px;
  text-align: center;

}
.numsList li {
   display: inline;
}
.numsList li button {
  font-size: 20px;
}

